body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: #161313;
}
#uploadForm {
    background-color: rgb(210, 210, 210);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(7, 223, 86, 0.1);
    margin-bottom: 20px;
}
input[type="file"] {
    margin-bottom: 20px;

}
input[type="submit"] {
    background-color: #44c60c;
    color: white;
    border: none;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
    
}
#result {
    width: 80%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    word-break: break-all;
}

